<% title "Your preferred searches" %>

<table border="0" cellspacing="5" cellpadding="5">
  <thead>
    <tr>
     <th>keywords</th>
     <th>category</th>
     <th>price-range</th> 
     <th>results</th>
     <th>mail notification</th>
     <th>last notification</th>
     <th>new results</th>
     <th>controls</th>
    </tr>
  </thead>
  <tbody>
    <%= render @searches -%>
  <tbody>  
</table>
